<!-- Large banner card -->
<div id="menuCard" class="smallCard">
  <div>
    <a href="#">MEET WILTSHIRE'S WORLD CLASS CHEF</a>
  </div>
</div>

<main class="menu">
  <h2>Meet Marty McFly, Wiltshire's chef.</h2>
  <%= image_tag('chef.jpg', :class => 'chefPic') %>
</main>
