<!-- Large banner card -->
<div id="menuCard" class="smallCard">
  <div>
    <a href="#">MEET WILTSHIRE'S WORLD CLASS CHEF</a>
  </div>
</div>

<main class="menu" id="chefMenu">
  <h2>Meet Marty McFly, Wiltshire's chef.</h2>
  <%= image_tag('chef.jpg', :class => 'chefPic') %>
  <p>Marty has been cooking for Wiltshire since 1965.</p>
  <p>Studying the culinary arts at Rhode School of Cuisine at Dar Liqama, <br> Marty knows how to get your meal just right.</p>
</main>
