<!-- Large banner card -->
<div id="menuCard" class="smallCard">
  <div>
    <a href="#">CONTACT US</a>
  </div>
</div>

<main class="menu" id="contactMenu">
  <form class="contactForm">
    <div class="formContainer">
      <div class="name">
        <p>Enter your full name.</p>
        <input type="text" name="fname" placeholder="Enter Your Full Name">
      </div>
      <div class="email">
        <p>Enter your email address.</p>
        <input type="email" name="email" placeholder="Enter Your Email Address">
      </div>
      <div class="details">
        <p>Enter your message here:</p>
        <textarea placeholder="Your message" rows="4" cols="50"></textarea>
      </div>
      <div class="submitContact" type="submit">Submit</div>
    </div>
  </form> 
</main>

<div class="contactConfirm">
  <h2>Thank you for submitting your message.</h2>
</div>