<div class="card">
  <%# Title picture with logo words over top %>
  <div class="titleCard">
    <h1 class="titleCard-logo">Welcome To Wiltshire Pub</h1>
  </div>
  <div class="title-bottom">
    <p>The finest pub England has to offer</p>
  </div>
  <div class="title-bottom">
    <a href="#">Click here to find out more</a>
  </div>
</div>

<div class="smallCard">
  <%= image_tag('londonpub1.JPG') %>
  <div class="card-right">
    <p>Located in the heart of England, Wiltshire is well worth the trip.</p>
    <a href="#">Click here for directions</a>
  </div>
</div>