<!-- Large banner card -->
<div id="menuCard" class="smallCard">
  <div>
    <a href="#">VIEW WILTSHIRE'S LOCATION AND HOURS</a>
  </div>
</div>

<!-- Menu With location info and hours.. also google maps -->
<main class="menu">
  <div id="map-canvas"></div>
  <div class="locationInfo">
    <h4>Hours:</h4>
    <p>Monday-Thursday: 12:00-24:00</p>
    <p>Friday-Sunday:   12:00-04:00</p>
    <br>
    <h4>Address:</h4>
    <p>210 Church Street, North Lavington,</p>
    <p>Wiltshire SN10 4LD, United Kingdom</p>
  </div>
</main>