<!-- Large banner card -->
<div id="menuCard" class="smallCard">
  <div>
    <a href="#">THE WORLD FAMOUS WILTSHIRE MENU</a>
  </div>
</div>

<section class="menu">
  <h3 id="starterMenu">Starters</h3>
    <dl>
      <dt>BAKED BRIE</dt>
      <dd>Brie cheese stuffed with raspberry coulis, golden raisins and wrapped in puff pastry. Served with a praline sauce and caramelized apples.</dd>
      <dt>BASKET OF CHIPS</dt>
      <dd>Thick cut fries, fried golden brown and served with our house dipping sauce.</dd>
      <dt>THAI CHILI HADDOCK BITES</dt>
      <dd>Bite sized pieces of Haddock, hand battered and tossed with Thai chili sauce, Coconut milk, Cilantro and Ginger.</dd>
      <dt>HADDOCK CAKES</dt>
      <dd>Traditional Homemade fish cakes gently fried and served with fresh cut greens, grilled lemon and our homemade tartar sauce.</dd>
      <dt>PRAWN COCKTAIL</dt>
      <dd>Fresh shrimp in a pint glass served with our homemade creamy cocktail sauce and grilled lemon.</dd>
      <dt>IRISH EGG ROLLS</dt>
      <dd>Corned beef and cabbage wrapped with onions and cheddar cheese in an egg roll wrapper and fried until golden brown. Served with 1000 Island dressing.</dd>
      <dt>CHICKEN TENDERS</dt>
      <dd>Our house marinated tempura battered chicken tenders served with our homemade honey mustard sauce or tossed in one of our wing sauces for $0.50.</dd>
    </dl>
  <h3 id="sandwichMenu">Sandwiches</h3>
    <dl>
      <dt></dt>
      <dd></dd>
      <dt></dt>
      <dd></dd>
      <dt></dt>
      <dd></dd>
      <dt></dt>
      <dd></dd>
      <dt></dt>
      <dd></dd>
      <dt></dt>
      <dd></dd>
      <dt></dt>
      <dd></dd>
    </dl>
</section>

<nav class="sidemenu">
  <ul>
    <li><a id="starters" href="#Starters">Starters</a></li>
    <li><a id="sandwiches" href="#Sandwiches">Sandwiches</a></li>
    <li><a id="burgers" href="#Burgers">Burgers</a></li>
    <li><a id="dinners" href="#Dinners">Dinners</a></li>
    <li><a id="salads" href="#Salads">Salads</a></li>
    <li><a id="desserts" href="#Desserts">Desserts</a></li>
  </ul>
</nav>