<!-- Large banner card -->
<div id="menuCard" class="smallCard">
  <div>
    <a href="#">THE WORLD FAMOUS WILTSHIRE MENU</a>
  </div>
</div>

<section class="menu">
  <h3 id="starterMenu">Starters</h3>
    <dl>
      <dt>BAKED BRIE</dt>
      <dd>Brie cheese stuffed with raspberry coulis, golden raisins and wrapped in puff pastry. Served with a praline sauce and caramelized apples.</dd>
      <dt>BASKET OF CHIPS</dt>
      <dd>Thick cut fries, fried golden brown and served with our house dipping sauce.</dd>
      <dt>THAI CHILI HADDOCK BITES</dt>
      <dd>Bite sized pieces of Haddock, hand battered and tossed with Thai chili sauce, Coconut milk, Cilantro and Ginger.</dd>
      <dt>HADDOCK CAKES</dt>
      <dd>Traditional Homemade fish cakes gently fried and served with fresh cut greens, grilled lemon and our homemade tartar sauce.</dd>
      <dt>PRAWN COCKTAIL</dt>
      <dd>Fresh shrimp in a pint glass served with our homemade creamy cocktail sauce and grilled lemon.</dd>
      <dt>IRISH EGG ROLLS</dt>
      <dd>Corned beef and cabbage wrapped with onions and cheddar cheese in an egg roll wrapper and fried until golden brown. Served with 1000 Island dressing.</dd>
      <dt>CHICKEN TENDERS</dt>
      <dd>Our house marinated tempura battered chicken tenders served with our homemade honey mustard sauce or tossed in one of our wing sauces for $0.50.</dd>
    </dl>
  <h3 id="sandwichMenu">Sandwiches</h3>
    <dl>
      <dt>THE ENGLISH BEEFEATER</dt>
      <dd>Thinly sliced roast beef with provolone cheese on a toasted baguette withwith Au Jus.</dd>
      <dt>GREEN APPLE & BRIE</dt>
      <dd>Finely sliced turkey breast with slices of brie cheese and green apple with Dijon mustard. Served on a toasted baguette.</dd>
      <dt>TANGY ROAST BEEF</dt>
      <dd>Finely sliced roast beef with horseradish mayo, cheddar cheese, fresh cut greens and tomato served on a baguette.</dd>
      <dt>CHICKEN CAESAR WRAP</dt>
      <dd>Grilled Chicken, tomatoes, parmesan, cheese, Caesar Dressing and romaine lettuce wrapped in a wheat tortilla.</dd>
      <dt>THE REUBEN</dt>
      <dd>Hand sliced corned beef topped with sauerkraut layered with Swiss cheese and 1000 island dressing served on rye bread.</dd>
      <dt>FOLKSTONE HADDOCK REUBEN</dt>
      <dd>Beer Battered Haddock fried golden brown and topped with Swiss cheese, Cole slaw and 1000 Island dressing. Served on a baguette.</dd>
      <dt>SMOKED CHICKEN & BRIE</dt>
      <dd>Smoked chicken breast topped with brie cheese, Dijon mustard, lettuce, and tomato. Served on a toasted baguette.</dd>
    </dl>
  <h3 id="burgerMenu">Burgers</h3>
    <dl>
      <dt>THE MEDITERRANEAN BURGER</dt>
      <dd>Topped with Kalamata olive,sundried tomato, pesto, roasted bell peppers leaf lettuce and feta cheese.</dd>
      <dt>THE PUB BURGER</dt>
      <dd>Half pound Sirloin burger topped with Provelone Cheese, Red Onion, Lettuce and Tomato.</dd>
      <dt>THE REUBEN BURGER</dt>
      <dd>Our certified Angus burger topped with sliced corned beef, 1000 island dressing, sauerkraut, Swiss cheese, lettuce and tomato.</dd>
      <dt>THE BULLY BURGER</dt>
      <dd>A half pound Sirloin Burger topped with an English Banger, Sauteed Mushrooms, Fried Onion Rings, Provolone Cheese, Lettuce and Tomato.</dd>
      <dt>ENGLISH RED EYE</dt>
      <dd>A half pound Sirloin Burger topped with English Bacon, Over Easy Eggs, two shots of Tabasco Sauce, Red Onions, Lettuce and Tomato.</dd>
      <dt>BLACK AND BLEU </dt>
      <dd>A half pound Sirloin Burger, blackened and topped with premium Bleu Cheese, Red Onions Lettuce and Tomato.</dd>
      <dt>TOWER OF LONDON</dt>
      <dd>A half pound sirloin burger with English bacon, English banger, HP sauce, two eggs, onion rings, sauteed mushrooms and cheddar cheese.</dd>
    </dl>
</section>

<nav class="sidemenu">
  <ul>
    <li><a id="starters" href="#Starters">Starters</a></li>
    <li><a id="sandwiches" href="#Sandwiches">Sandwiches</a></li>
    <li><a id="burger" href="#Burgers">Burgers</a></li>
    <li><a id="dinners" href="#Dinners">Dinners</a></li>
    <li><a id="salads" href="#Salads">Salads</a></li>
    <li><a id="desserts" href="#Desserts">Desserts</a></li>
  </ul>
</nav>