#chefMenu {
  height:350px;
  h2,
  p {
    position:relative;
    top:-100px;
  }
  p {
    top:-50px;
  }
}

.chefPic {
  border-radius:50%;
  height:250px;
  width:280px;
  float:right;
  position:relative;
  top:-150px;
}

@media screen and (max-width:984px){
  #chefMenu {
    h2 {
      position:relative;
      top:-150px;
    }
  }
}

@media screen and (max-width:767px){
  #chefMenu {
    h2 {
      color:#eee;
      position:relative;
      top:-150px;
    }
    p {
      position:Relative;
      top:0px;
    }
  }
}

@media screen and (max-width:472px){
  #chefMenu {
    height:500px;
  }
}