#map-canvas {
        width: 500px;
        height: 400px;
        position:relative;
        top:-80px;
        border:1px solid black;
      }
.locationInfo {
  position:relative;
  top:-450px;
  left:600px;
}