#map-canvas {
        width: 500px;
        height: 400px;
        position:relative;
        top:-80px;
        border:1px solid black;
      }
.locationInfo {
  position:relative;
  top:-450px;
  left:600px;
}

@media screen and (max-width:767px){
  #locationMenu {
    position:relative;
    top:20px;
    height:800px;
    #map-canvas {
      position:relative;
      top:350px;
      margin:auto;
    }
    .locationInfo {
      display:block;
      width:300px;
      margin:auto;
      top:-400px;
      left:0px;
    }
  }
}