//style for the reservation page container
#reservationMenu {
  position:relative;
  top:65px;
  overflow-x:hidden;
  height:500px;
  h4 {
    text-align:center;
   position:relative;
   top:-150px;
  }
}
.reservationConfirm {
  position:relative;
  top:-250px;
  left:29%;
  display:none;
}
//style for the form on the reservation page
.reservationForm {
  position:relative;
  top:-30px;
  width:490px;
  height:580px;
  margin:auto;
  select,
  input,
  textarea,
  .submitReservation {
    background-color:white;
    border-radius:-5px;
    outline:none;
    border:1px solid #eee;
    height:40px;
    width:200px;
    margin-right:75px;
  }
  input {
    text-align:center;
  }
  .submitReservation {
    text-align:center;
    padding-top:15spx;
    background-color:#aad1d6;
    margin:auto;
    border-radius:5px;
    color:white;
    font-size:1.2em;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.29);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.29);
    &:hover,
    &:focus {
      background-color:#92d0d8;
    }
    &:active {
      background-color:#79bfc9;
    }
  }
}

@media screen and (max-width:550px){
  .date,
  .email,
  .details,
  .reservationName,
  .selection {
    width:200px;
    display:block;
    margin:auto;
  }
}

@media screen and (min-width:551px){
  .date,
  .email,
  .details {
    position:relative;
    top:-93px;
    left:285px;
    margin-bottom:-50px;
  }
}