// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Open+Sans+Condensed:300);

* {
  font-family: 'Open Sans Condensed', sans-serif;
}

body,
html,
.container {
  margin:0;
  padding:0;
  width:100%;
}

a {
  text-decoration:none;
  color:#eee;
}

@media screen and (max-width:767px){
  .body {
    background-color:#181818;
  }
  .navbar {
    width:100%;
    background-color:#eee;
    height:60px;
    position:fixed;
    top:0px;
    display:inline-block;
    z-index:1000;
  }
  .navbar-toggle {
    border-radius:5px;
    width:50px;
    background-color:transparent;
    position:relative;
    bottom:8px;
    right:0;
    right:2.5%;
    float:right;
    border:1px solid #e1e1e1;
    outline:none;
  }
    .navbar-toggle:focus,
    .navbar-toggle:hover {
      background-color:#e1e1e1;
      outline:none;
    }
    .navbar-toggle:active {
      background-color:#d4d4d4;
    }
    .collapse {
      visibility:hidden;
    }
    .navbar-nav {
      background-color:#eee;
      list-style-type: none;
      position:relative;
      top:43px;
      padding:0px;
      z-index:1000;
    }
    .navbar-nav li {
      position:relative;
      border-top:1px solid #e1e1e1;
    }
      .navbar-nav li:hover,
      .navbar-nav li:focus {
        background-color:#e1e1e1;
      }
      .navbar-nav li:active {
      background-color:#d4d4d4;
    }
    .navbar-nav li a {
      text-decoration:none;
      color:#181818;
      display:block;
      padding:20px 0% 10px 7%;
    }
    .card {
      width:80%;
      margin:auto;
      position:relative;
      top:80px;
      margin-bottom:10px;
    }
    .titleCard {
      width:100%;
      height:300px;
      background-image: url(image_path('rusticfood.jpg'));
      background-size:cover;
    }
    .titleCard h1 {
      color:#eee;
      text-align:right;
      width:75%;
      position:relative;
      top:80px;
      font-weight:100;
      background-color:rgba(158,56,56,0.8);
      padding:10px 20px 10px 0px;
      border-top-right-radius:20px;
      border-bottom-right-radius:20px;
      font-family: 'Alegreya Sans SC', sans-serif;
    }
    .title-bottom {
      display:block;
      height:50px;
      background-color:rgba(218,218,218,1);
      border-top:1px solid #c9c9c9;
      position:relative;
      top:-3px;
      color:#181818;
      padding:0px 0px 0px 50px;
        a {
          background-color:rgba(218,218,218,1);
          position:relative;
          height:35px;
          right:50px;
          color:black;
          display:block;
          width:100%;
          padding-left:50px;
          padding-top:15px;
          &:hover,
          &:focus {
            background-color:rgba(208,208,208,1);
            outline:none;
          }
          i {
          position:relative;
          left:2.5%;
          top:1px;
        }
        }
    }
    .smallCard {
      display:block;
      width:80%;
      height:120px;
      margin:auto;
      position:relative;
      top:75px;
      background-color:rgba(218,218,218,1);
      img {
        width:30%;
        height:120px;
        display:inline-block;
      }
      p,
      a {
        width:67%;
        height:42px;
        display:inline-block;
        position:relative;
        top:-122px;
        left:30%;
        padding:8px 0px 0px 3%;
      }
      a {
        top:-140px;
        border-top:1px solid #c9c9c9;
        color:black;
        &:hover,
        &:focus {
          background-color:rgba(208,208,208,1);
          outline:none;
        }
        i {
          position:relative;
          left:2.5%;
          top:1px;
        }
      }
    }
    #card2 {
      position:relative;
      top:85px;
      background-color:inherit;
      div {
        position:relative;
        top:106px;
        p,
        a {
          width:97%;
          left:0%;
          color:#eee;
          background-color:rgba(158,56,56,1);
        }
        a {
          border-top:1px solid #851d1d;
          &:hover,
          &:focus {
            background-color:#851d1d;
          }
        }
      }
    }
    #card3 {
      position:relative;
      top:75px;
      img {
        position:relative;
        top:-133px;
        float:right;
      }
      div {
        position:relative;
        top:125px;
        right:30%;
      }
    }
    #card4 {
      background-image: url(image_path('londonpub3.jpg'));
      background-size:100% 240px;
      background-repeat:no-repeat;
      top:85px;
      margin-bottom:25px;
      a {
        font-size:1.8em;
        color:#eee;
        border:none;
        top:-130px;
        left:0%;
        width:70%;
        padding:25px 0px 50px 30%;
        &:hover,
        &:focus {
          background-color:rgba(158,56,56,0.73);
        }
      }
      div {
        background-color:rgba(158,56,56,0.7);
        display:block;
        width:100%;
        height:120px;
        top:0px;
        left:0px;
      }
    }
}
@media screen and (min-width:768px){
    .body {
      background-image: url(image_path('darkcobblestone.jpeg'));
      background-attachment: fixed;
      background-size:cover;
      background-repeat:no-repeat;
    }
}
